*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

.header {
    background-color: rgb(29, 29, 58);
    color: white;
    display: flex;
    justify-content: space-around;
    ;
}
p{ word-spacing: 20px;
padding-top: 15px;
font-size: large;}


.d1 {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
}

.button {
    background-color: rgb(240, 52, 83);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    margin-top: 8px;
    padding: 5px 8px;
}

.button1 {
    margin: 10px;
    border-radius: 5px;
    padding: 5px 8px;
}

.footer {
    background-color: rgb(29, 29, 58);
    color: white;
    padding: 5px 0;
}